# {% if job_icon %} {{ job_icon }} {% endif %} {{ job_name | capitalize }}

=== "Documentation"

    {{ readme | indent(4, False) }}

    {% if screenshots_files %}
    ## Gallery

    <div id="primary-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for screenshots in screenshots_files -%}
                <li class="splide__slide primary__slider"><img src="{{screenshot_path}}/{{screenshots}}" /></li>
                {% endfor -%}
            </ul>
        </div>
    </div>

    <div id="secondary-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for screenshots in screenshots_files -%}
                <li class="splide__slide secondary__slider" style="background-size: cover;" ><img src="{{screenshot_path}}/{{screenshots}}" /></li>
                {% endfor -%}
            </ul>
        </div>
    </div>
    {% endif %}

    ## License

    ??? "License: {{ license_name }}"
    {%- for line in license -%}
    {%- if line %}
        {{ line }}
    {%- endif -%}
    {%- endfor %}

    ## Changelog

    * **[latest]({{ latest.url }})** (current -> `{{ latest.version }}`):
    > ```
    {{ latest.url }}
    ```

    {% for version in changelogs -%}
    ??? "{{ version.version }}"
        > ```
        {{ version.url }}
        ```
    {% for line in version.changelog %}
        {%- if line %}
        {{ line }}
        {%- endif %}
    {%- endfor %}
    {% endfor %}

    {%- if code_owner %}
    -- 🔨 Maintainer: <img src='{{ gitlab_image }}' alt='avatar' style='width: 20px; height: 20px; border-radius: 50%'> [{{ code_owner_name }}]({{ code_owner_url }}) @{{ code_owner }}
    {%- endif %}

=== ".gitlab-ci.yml"

    ```yaml linenums="1"
    {{ job_raw_content | indent(4, False) }}
    ```

{% if screenshots_files %}
<script>
checkGallery();
function checkGallery() {
    if (typeof initSplide != "function")
    setTimeout(() => checkGallery(), 100);
    else
    initSplide();
}
</script>
{% endif %}

